<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="root"> 
        {{ message }}
        <span v-bind:title="messageSpan"> Demo </span>
        <span v-if="show">  surprise </span>
        <div v-for="list in lists">
            {{list}}
        </div>
        <div> {{name}} </div>
        <button v-on:click="callMe"> click me </button>
        <input type="text" v-model='message'>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const vue = new Vue({
            el: '#root',
            data: {
                message: 'hello vue',
                messageSpan: `times: ${new Date().toLocaleTimeString()}`,
                show: true,
                lists: [1, 2, 3],
                name: 'hoang'
            },
            methods: {
                callMe: function() {
                    this.name = this.name + '(update)'
                }
            }
        });

        
        
    </script>
</body>
</html>

